body{
    background: linear-gradient(90deg, rgba(3,141,116,1) 0%, rgba(9,80,144,1) 100%);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}


.container{
    background-color: rgba(255, 255, 255, 0.9);
    /* background-color: white; */
    border-radius: 20px;
    width: 450px;
    height: 450px;
    padding: 20px 35px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.container input {
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 30px;
    border-radius: 15px;
    border: none;
}

button{
    border-radius: 15px;
    border: none;
    background-color: #038D74;
    color: white;
    width: 200px;
    height: 35px;
    margin: 0px 120px;
}