body {
    display: grid;
    place-items: center;
    height: 100vh;
    /* width: 100vw; */
    background: linear-gradient(45deg, #38A491, #296AA5);
}

h1{
    font-size: 32px;
    /* background-color: red; */
}

h2{
    margin-top: 0%;
    /* background-color: red; */
    font-size: 1px;
    
}
#hadua{
    margin-top: -11%;
    font-size: 16px;
    margin-left: 2px;
}

#hoye{
    font-weight: bold;
}
.main {
    width: 100%;
    height: 65vh;
    max-width: 420px;
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 10px 15px (0,0,0,0.25);
    display: grid;
    gap: 1rem;
}

#timeFrame{
    font-weight: bold;
    padding-right: 18%;
}

.radio-container{
    margin-bottom: 4%;
}

.targetGoals{
    /* display: grid; */
    gap: 1rem;
    margin-bottom: 4%; 
    font-weight: bold;
}

.targetGoals select{
    margin-left: 23%;
    width: 48.5%;
    padding: 3px;
}

.targetGoals div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.targetGoals label {
    flex: 0 1 120px;
    font-weight: 600;
} 

.targetGoals input {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px;
    outline-color: #555;
    font-size: 1rem;
    text-align: center;
}

.diet-container{
    font-weight: bold;
    margin-bottom: 4%;
}

.diet-container select{
    margin-left: 27%;
    width: 48.5%;
    padding: 3px;
}

.allergy-container{
    font-weight: bold;
}

.allergy-container input[type="text"] {
    margin-left: 72px;
    padding: 3px;
    width: 47.3%;
}


input[type=text], select{
    /* width: 50%; */
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px;
    outline-color: #555;
    text-align: center;
    width: 50%;
}

label{
    position: relative;
    cursor: pointer;
    padding-right: 32px;
    
}

label:nth-last-child(1){
    padding-right: 0;
}

.container{
    margin-top: -10%;
}

.container button {
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 6px;
    background: #038D74;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 3%;
}

.container button[type="reset"] {
    background: #444;
}

.container button:hover {
    filter: brightness(120%);
}

.button-ihiy{
    margin-left: 60%;
    width: 100%;
    margin-top: 10%;
}

.button{
    margin-left: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5%;
}

#nextpage{
    border-radius: 10px;
    width: 80px;
    height: 40px;
    font-size: 20px;
    background-color: white;
    border-width: 0;
    cursor: pointer;
}

#nextpage:hover{
    box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.25);
    transition: 200ms;
}
