:root {
    --underweight: orange;
    --normal: green;
    --overweight: #F4CC24;
    --obese: crimson;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    /* background: #BDD6CA; */
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #38A491, #296AA5);
}

h1 {
    text-align: center;
}

.container {
    width: 100%;
    max-width: 420px;
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 10px 15px (0,0,0,0.25);
    display: grid;
    gap: 1rem;
}

.muscle-container{
    font-weight: bold;
    margin-bottom: 4%;
}

.muscle-container select{
    width: 66%;
    height: 150%;
    padding: 5.5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  
}



.muscle{
    display: grid;
    gap: 1rem;
}

.muscle div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.muscle label {
    flex: 0 1 120px;
    font-weight: 600;
}

.muscle input {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    outline-color: #555;
    font-size: 1rem;
    text-align: center;
}

.muscle button {
    width: 50%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 10px;
    background: #038D74;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    
}

.muscle button[type="reset"] {
    background: #444;
}

.button:hover {
    filter: brightness(120%);
}

#nextpage{
    border-radius: 10px;
    width: 80px;
    height: 40px;
    font-size: 20px;
    background-color: white;
    border-width: 0;
    cursor: pointer;
}

#nextpage:hover{
    box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.25);
    transition: 200ms;
}