body {
    place-items: center;
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, rgba(3,141,116,1) 0%, rgba(9,80,144,1) 100%);
    font-family: 'Poppins', sans-serif;
}

p{
    font-size: 110%;
    padding: 0px;
    font-weight: bold
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1vw;
    /* margin: 10px; */
}
  
.grid-item {
    background-color: rgba(255, 255, 255, 0.9);
    /* background-color: white; */
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    /* font-size: 30px; */
    text-align: left;
    margin: 1vh;
}


.gambar {
    width: 100%;
    border-radius: 10%;
}

.button{
    height: 40px + 5vh;
    position: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    filter: brightness(120%);
}

#prevpage{
    
    border-radius: 10px;
    width: 80px;
    height: 40px;
    font-size: 20px;
    background-color: white;
    border-width: 0;
    cursor: pointer;
}

#prevpage:hover{
    box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.25);
    transition: 200ms;
}