<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='css/Assets/LOGO.png') }}">
    <title>MUSCLE</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/muscle.css')}}">
    
    </head>
    <body>
        <div class="container">
            <h1>CHOOSE MUSCLE</h1>
            
            <form class="muscle">

                <div class="muscle-container">
                    <label for="muscle">MUSCLE</label>
                    <select id="muscleList" name="muscleList" required>
                        <option value = ""> Select muscle</option>
                        <option value = "cardio" name = "cardio"> cardio </option>
                        <option value = "neck" name = "neck"> neck </option>
                        <option value = "shoulders" name = "shoulders"> shoulders </option>
                        <option value = "chest" name = "chest"> chest </option>
                        <option value = "back" name = "back"> back </option>
                        <option value = "waist" name = "waist"> waist </option>
                        <option value = "lower_arms" name = "lower_arms"> lower arms </option>
                        <option value = "lower_legs" name = "lower_legs"> lower legs </option>
                        <option value = "upper_arms" name = "upper_arms"> upper arms </option>
                        <option value = "upper_legs" name = "upper_legs"> upper arms </option>
                    </select>
                </div>


                <div class="muscle-container">
                    <label for="intensity">LEVEL</label>
                    <select id="intensitylevel" name="intensity" required>
                        <option value = ""> select intensity</option>
                        <option value = "Light" name = "Light"> Light </option>
                        <option value = "Moderate" name = "Moderate"> Moderate </option>
                        <option value = "Heavy" name = "Heavy"> Heavy </option>
                    </select>
                </div>




                <div>
                    <button type="reset">Reset</button>
                    <button type="submit">Submit</button>
                </div>

            </form>





        </div>

        <div class="button">
            <a href="{{ url_for('womoves') }}">
                <button id="nextpage">Next</button>
            </a>
        </div>

        <script src = "{{ url_for('static', filename='js/muscles.js') }}" defer></script>
    </body>
</html>