    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/regist.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='css/Assets/LOGO.png') }}">
    <title>Regist | LifeWell</title>

</head>
<body>

    <div class="ISI">

        <div class="JUDUL">
            <h2>Halo 👋</h2>
            <h2>Kenalan Yuk!</h2>
        </div>
    
        <div class="FORMTOFILL">
            
        </div>
    </div>



    
</body>
</html>