<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='css/Assets/LOGO.png') }}">
    <title>WORKOUT</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/womoves.css')}}">
</head>
<body>
    {% for name in data %}
    <div class="image-grid">
        <img src="{{ name['gifUrl'] }}" alt ="aa">    
        <p>Name : {{ name['name'] }}</p>
        <p>Equipment : {{ name['equipment'] }}</p>
        <p>Target : {{ name['target'] }}</p>    
    </div>
    
    {% endfor %}
</body>
</html>